/**
 * h*.display
 *  Display sized H* text
 */

.h1.display,
h1.display {
    padding-top: 0.884rem;
    padding-bottom: 0.116rem;

    font-size: 3rem;
    font-weight: 900;

    line-height: 4rem;
}

.h2.display,
h2.display {
    padding-top: 0.884rem;
    padding-bottom: 0.116rem;

    font-size: 2.75rem;
    font-weight: 900;

    line-height: 3.75rem;
}

@media (min-width: 768px) {
    .h1-m {
        padding-top: 0.601rem;
        padding-bottom: 0.399rem;
        font-size: 2.4166666667rem;
        line-height: 3rem;
        display: block;
    }

    .h2-m {
        padding-top: 0.694rem;
        padding-bottom: 0.306rem;
        font-size: 2.1666666667rem;
        line-height: 3rem;
        display: block;
    }

    .h3-m {
        padding-top: 0.787rem;
        padding-bottom: 0.213rem;
        font-size: 1.9166666667rem;
        line-height: 3rem;
        display: block;
    }

    .h4-m {
        padding-top: 0.38rem;
        padding-bottom: 0.62rem;
        font-size: 1.6666666667rem;
        line-height: 2rem;
        display: block;
    }

    .h5-m {
        padding-top: 0.442rem;
        padding-bottom: 0.558rem;
        font-size: 1.5rem;
        line-height: 2rem;
        display: block;
    }

    .h6-m {
        padding-top: 0.504rem;
        padding-bottom: 0.496rem;
        font-size: 1.3333333333rem;
        line-height: 2rem;
        display: block;
    }
}

@media (min-width: 1200px) {
    .h1-m {
        padding-top: 0.601rem;
        padding-bottom: 0.399rem;
        font-size: 2.4166666667rem;
        line-height: 3rem;
        display: block;
    }

    .h2-l {
        padding-top: 0.694rem;
        padding-bottom: 0.306rem;
        font-size: 2.1666666667rem;
        line-height: 3rem;
        display: block;
    }

    .h3-l {
        padding-top: 0.787rem;
        padding-bottom: 0.213rem;
        font-size: 1.9166666667rem;
        line-height: 3rem;
        display: block;
    }

    .h4-l {
        padding-top: 0.38rem;
        padding-bottom: 0.62rem;
        font-size: 1.6666666667rem;
        line-height: 2rem;
        display: block;
    }

    .h5-l {
        padding-top: 0.442rem;
        padding-bottom: 0.558rem;
        font-size: 1.5rem;
        line-height: 2rem;
        display: block;
    }

    .h6-l {
        padding-top: 0.504rem;
        padding-bottom: 0.496rem;
        font-size: 1.3333333333rem;
        line-height: 2rem;
        display: block;
    }
}

/**
 * .bc-*-bright
 *     Background colors, brightened
 */

.bc-primary-bright {
    background-color: #ff8dba !important;
}

.bc-secondary-bright {
    background-color: #f5f5f5 !important;
}

.bc-danger-bright {
    background-color: #eb4040 !important;
}

.bc-dark-bright {
    background-color: #525252 !important;
}

/**
 * .bc-*-dark
 *     Background colors, darkened
 */

.bc-primary-dark {
    background-color: #e15a87 !important;
}

.bc-secondary-dark {
    background-color: #c2c2c2 !important;
}

.bc-danger-dark {
    background-color: #b80d0d !important;
}

.bc-dark-dark {
    background-color: #1f1f1f !important;
}

.bc-light-dark {
    background-color: #e6e6e6 !important;
}

/**
 * .link-*
 *  Additional styles for anchor links
 */

a.link-fade {
    text-decoration: none;
}

a.link-fade:active,
a.link-fade:hover {
    filter: saturate(1) opacity(100%);
    transition: filter 0.15s;
}

a.link-fade:active,
a.link-fade:hover {
    filter: saturate(0.85) opacity(30%);
}

/**
 * .vc-symbol-*
 *     Content Type symbols
 */

*[class*="vc-symbol-"] {
    display: inline-block;

    font-style: normal;
    font-weight: bold;
}

.vc-symbol-race {
    transform: rotate(-90deg);
}

/**
 * .vc-fs-*
 *     Font sizes
 */

.vc-fs-tiny {
    font-size: 200%;
}

.vc-fs-small {
    font-size: 400%;
}

.vc-fs-medium {
    font-size: 800%;
}

.vc-fs-large {
    font-size: 1200%;
}

.vc-fs-100 {
    font-size: 100%;
}

.vc-fs-75 {
    font-size: 75%;
}

.vc-fs-50 {
    font-size: 50%;
}

.vc-fs-33 {
    font-size: 33%;
}

.vc-fs-25 {
    font-size: 25%;
}

@media (min-width: 768px) {
    .vc-fs-tiny-l {
        font-size: 200%;
    }

    .vc-fs-small-l {
        font-size: 400%;
    }

    .vc-fs-medium-l {
        font-size: 800%;
    }

    .vc-fs-large-l {
        font-size: 1200%;
    }

    .vc-fs-100-m {
        font-size: 100%;
    }

    .vc-fs-75-m {
        font-size: 75%;
    }

    .vc-fs-50-m {
        font-size: 50%;
    }

    .vc-fs-33-m {
        font-size: 33%;
    }

    .vc-fs-25-m {
        font-size: 25%;
    }
}

@media (min-width: 1200px) {
    .vc-fs-tiny-l {
        font-size: 200%;
    }

    .vc-fs-small-l {
        font-size: 400%;
    }

    .vc-fs-medium-l {
        font-size: 800%;
    }

    .vc-fs-large-l {
        font-size: 1200%;
    }

    .vc-fs-100-l {
        font-size: 100%;
    }

    .vc-fs-75-l {
        font-size: 75%;
    }

    .vc-fs-50-l {
        font-size: 50%;
    }

    .vc-fs-33-l {
        font-size: 33%;
    }

    .vc-fs-25-l {
        font-size: 25%;
    }
}

/**
 * .vc-outline-*
 *     For giving texts outlines of various sizings
 */

.vc-outline {
    -webkit-text-stroke: 1px black;
}

.vc-outline-medium {
    -webkit-text-stroke: 2px black;
}
